* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

li, li a {
  list-style-type: none;
  text-decoration: none;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo-title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: aliceblue;
}

.favoriteEmpty {
  text-align: center;
}

h2, h3, p {
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

h3 {
  color: #414040;
  font-size: 1.5rem;
}

p {
  color: #6e6d6c;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../public/responsive-image/hero-image_2-large.jpg");
  height: 92vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  background-color: #bf1722;
  color: white;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 60px;
  padding: 5px 30px;
  background-color: #0A2647;
} 

.hamburger {
  display: none;
}

.nav-item li a {
  color: #F8F4EA;
  padding: 15px;
}

.nav-item {
  display: flex;
  gap: 10px;
}

.nav-item li {
  width: auto;
  height: 52px;
  display: flex;
  align-items: center;
}

.container-article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #f7f5f2;
  padding: 15px;
}

.container-item-article {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px 25px;
  margin-bottom: 50px;
  padding: 10px;
}

.title-article {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 3rem;
  color: #537FE7;
}

.article {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn-like {
  position: fixed;
  bottom: 10%;
  left: 90%;
  font-size: 30px;
  padding: 5px;
  border-width: 1px;
  border-radius: 20%;
  background-color: rgb(75, 226, 226);
}

.btn-liked {
  color: red;
  padding: 15px;
}

.btn-unlike {
  color: rgb(255, 236, 236);
  padding: 15px;
}

.btn-view-all {
  text-align: end;
  padding: 15px;
}

.btn-view-all a {
  padding: 15px;
}

footer {
  height: 100px;
  text-align: center;
  background-color: #b9b6b2;
  padding: 50px 0;
}

@media screen and (max-width: 600px) {
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../public/responsive-image/hero-image_2-small.jpg");
  }

  .nav-container {
    position: relative;
  }

  .nav-item {
    display: none;
  }

  .show-nav-item {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    padding-left: 25%;
    padding-top: 10%;
    top: 99%;
    width: 100%;
    height: 65vh;
    right: 0;
    background-color: #0A2647;
    z-index: 2;
    clip-path: circle(100% at 99% -16%);
    transition: 100ms ease-in;
  }

  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    right: 10%;
    background-color: #c5ced6;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
  }

  .nav-item li {
    display: block;
  }

  .btn-like {
    left: 80%;
  }
}